<div class="bg-header">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h1 class="mar-t-180 text-head">Welcome</h1>
			<h4 class="col-white"><%= link_to 'Users : ', users_path %> <%= User.count %> registered</h4>
		</div>
	</div>
</div>